# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
.pub/
build/
coverage/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/Pods/

# Android
android/.gradle/
android/local.properties
android/app/release/
android/app/debug/
android/app/profile/

# iOS
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/

# Firebase & claves
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
**/*.keystore
**/*.jks
*.pem
*.p12
*.p8
*.cer
.env
